:root {
    --white-color: #F9FBFF;
    --light-gray-color: #151D28;
    --light-gray-color: #EDF0F5;
    --primary-color: #415167;
    --light-accent-color: #F9F5E8;
    --dark-accent-color: #C7A17A;
}